.sec-footer{
    background-color:rgba(24,106,188,255) ;
}
.foot-container{
    padding: 0;
    margin: 0;
}
.footer-content{
    flex-wrap: wrap;
    padding-top: 20px;
    display: flex;
gap: 75px;
    align-items: center;
    
}
.us-h1 h1 {
    font-size: 26px;
    color: white;
}


.us-hr {
    border: solid;
    border-width: 2px;
    width: 40px;
    color: white;
}

.us-p p {
    font-size: 18px;
    margin-top: 25px;
    color: white;
}

.us-fb, 
.us-google, 
.us-twitter, 
.us-vimeo, 
.us-pinterest {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    font-size: 16px;
    color: white;
}


.ul-list {
    display: flex;
    padding: 0;
    gap: 8px;
}

.About-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}


.quick-h1 h1{
    font-size: 26px;
    margin-bottom: 0px;

    color: white;
}
.quick-hr{
    border: solid;
    border-width: 2px;
    width: 40px;
    color: white;
    margin-bottom: 5px;
    margin-top:5px;
}
.quick-ULlinks li {
    font-size: 18px;
    line-height: 22px;
}

.quick-ULlinks li:hover {
    color: white;
    border-bottom: 0px solid;
}

.quick-ULlinks {
    display: flex;
}

.quickUL {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 25px;
    
}


.quick-left ul {
    padding-left: 0;
}

.quick-left ul li {
    position: relative;
    padding-left: 15px;
    color: white;
    line-height: 35px;
}

.quick-left ul li::before {
    content: "\f0da";
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: white;
}

.quick-right ul {
    padding-left: 40px;
}

.quick-right ul li {
    position: relative;
    padding-left: 15px;
    color: white;
    line-height: 35px;
}

.quick-right ul li::before {
    content: "\f0da";
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: white;
}
.openP-3{
    color: white;
    display: flex;
    font-size: 18px;
    gap: 20px;
}

.open-hr {
    border: solid;
    border-width: 2px;
    width: 40px;
    color: white;
    margin-bottom: 20px;
}

.open-p p {
    font-size: 18px;
    margin-top: 25px;
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
}

.open-h1 h1{
    font-size: 26px;
    margin-bottom: 10px;
    margin-top: 20px;
    color: white;
}
.news-input{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.news-input input{
    background-color:rgba(24,106,188,255);
    border: solid;
    border-color: white;
    border-width: 1px;
border-radius: 3px;  
height: 40px;
width: 180px;
}
.news-input ::placeholder{
    color: white;
}

.news-p p{

    font-size: 18px;
    margin-top: 15px;
    margin-bottom:5px ;
    color: white;
}

.news-h1 h1{
    font-size: 26px;
    margin-bottom: 5px;
    margin-top: 0px;
    color: white;
}

/* .news-input::after {
    content: "\f2c6"; 
    font-family: 'Font Awesome 5 Free'; 
    font-weight: 900;
    position: absolute;
    right: 0; 
    font-size: 12px; 
    color: white; 
  } */

  .bottom-content{
    font-size:12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 100%; 
    box-sizing: border-box; 
    padding:10px 0 10px 0 ;
    
  }
  .bottom-content p{
    margin-bottom: 0;
  }
  .footer-bottom{
    width: 100%;
    background-color:rgba(27,118,209,255);

    margin: 0;
  }




/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

  @media only screen and (min-width: 280px) and (max-width: 575.98px) {

    .sec-footer{
        background-color:rgba(24,106,188,255) ;
    }
    .foot-container{
        padding: 0;
        margin: 0;
    }
    .footer-content{
        flex-wrap: wrap;
        padding-top: 20px;
        display: flex;
    gap: 20px;
        align-items: center;
        
    }
    .us-h1 h1 {
        font-size: 26px;
        color: white;
    }
    
    
    .us-hr {
        border: solid;
        border-width: 2px;
        width: 40px;
        color: white;
    }
    
    .us-p p {
        font-size: 18px;
        margin-top: 25px;
        color: white;
    }
    
    .us-fb, 
    .us-google, 
    .us-twitter, 
    .us-vimeo, 
    .us-pinterest {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid;
        border-width: 1px;
        border-color: white;
        border-radius: 100%;
        height: 30px;
        width: 30px;
        font-size: 16px;
        color: white;
    }
    
    
    .ul-list {
        display: flex;
        padding: 0;
        gap: 8px;
    }
    
    .About-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
    }
    
    
    .quick-h1 h1{
        font-size: 26px;
        margin-bottom: 0px;
    
        color: white;
    }
    .quick-hr{
        border: solid;
        border-width: 2px;
        width: 40px;
        color: white;
        margin-bottom: 5px;
        margin-top:5px;
    }
    .quick-ULlinks li {
        font-size: 18px;
        line-height: 22px;
    }
    
    .quick-ULlinks li:hover {
        color: white;
        border-bottom: 0px solid;
    }
    
    .quick-ULlinks {
        display: flex;
    }
    
    .quickUL {
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 25px;
        
    }
    
    
    .quick-left ul {
        padding-left: 0;
    }
    
    .quick-left ul li {
        position: relative;
        padding-left: 15px;
        color: white;
        line-height: 35px;
    }
    
    .quick-left ul li::before {
        content: "\f0da";
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
        color: white;
    }
    
    .quick-right ul {
        padding-left: 40px;
    }
    
    .quick-right ul li {
        position: relative;
        padding-left: 15px;
        color: white;
        line-height: 35px;
    }
    
    .quick-right ul li::before {
        content: "\f0da";
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
        color: white;
    }
    .openP-3{
        color: white;
        display: flex;
        font-size: 18px;
        gap: 20px;
    }
    
    .open-hr {
        border: solid;
        border-width: 2px;
        width: 40px;
        color: white;
        margin-bottom: 20px;
    }
    
    .open-p p {
        font-size: 18px;
        margin-top: 25px;
        color: white;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    
    .open-h1 h1{
        font-size: 26px;
        margin-bottom: 10px;
        margin-top: 20px;
        color: white;
    }
    .news-input{
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .news-input input{
        background-color:rgba(24,106,188,255);
        border: solid;
        border-color: white;
        border-width: 1px;
    border-radius: 3px;  
    height: 40px;
    width: 180px;
    }
    .news-input ::placeholder{
        color: white;
    }
    
    .news-p p{
    
        font-size: 18px;
        margin-top: 15px;
        margin-bottom:5px ;
        color: white;
    }
    
    .news-h1 h1{
        font-size: 26px;
        margin-bottom: 5px;
        margin-top: 0px;
        color: white;
    }
    
    /* .news-input::after {
        content: "\f2c6"; 
        font-family: 'Font Awesome 5 Free'; 
        font-weight: 900;
        position: absolute;
        right: 0; 
        font-size: 12px; 
        color: white; 
      } */
    
      .bottom-content{
        font-size:12px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        width: 100%; 
        box-sizing: border-box; 
        padding:10px 0 10px 0 ;
        
      }
      .bottom-content p{
        margin-bottom: 0;
      }
      .footer-bottom{
        width: 100%;
        background-color:rgba(27,118,209,255);
    
        margin: 0;
      }
    
    
    

  }
 
@media only screen and (min-width: 576px) and (max-width: 767.98px) {

    


    .sec-footer{
        background-color:rgba(24,106,188,255) ;
    }
    .foot-container{
        padding: 0;
        margin: 0;
    }
    .footer-content{
        flex-wrap: wrap;
        padding-top: 20px;
        display: flex;
    gap: 30px;
        align-items: center;
        
    }
    .us-h1 h1 {
        font-size: 26px;
        color: white;
    }
    
    
    .us-hr {
        border: solid;
        border-width: 2px;
        width: 40px;
        color: white;
    }
    
    .us-p p {
        font-size: 18px;
        margin-top: 25px;
        color: white;
    }
    
    .us-fb, 
    .us-google, 
    .us-twitter, 
    .us-vimeo, 
    .us-pinterest {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid;
        border-width: 1px;
        border-color: white;
        border-radius: 100%;
        height: 30px;
        width: 30px;
        font-size: 16px;
        color: white;
    }
    
    
    .ul-list {
        display: flex;
        padding: 0;
        gap: 8px;
    }
    
    .About-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
    }
    
    
    .quick-h1 h1{
        font-size: 26px;
        margin-bottom: 0px;
    
        color: white;
    }
    .quick-hr{
        border: solid;
        border-width: 2px;
        width: 40px;
        color: white;
        margin-bottom: 5px;
        margin-top:5px;
    }
    .quick-ULlinks li {
        font-size: 18px;
        line-height: 22px;
    }
    
    .quick-ULlinks li:hover {
        color: white;
        border-bottom: 0px solid;
    }
    
    .quick-ULlinks {
        display: flex;
    }
    
    .quickUL {
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 25px;
        
    }
    
    
    .quick-left ul {
        padding-left: 0;
    }
    
    .quick-left ul li {
        position: relative;
        padding-left: 15px;
        color: white;
        line-height: 35px;
    }
    
    .quick-left ul li::before {
        content: "\f0da";
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
        color: white;
    }
    
    .quick-right ul {
        padding-left: 40px;
    }
    
    .quick-right ul li {
        position: relative;
        padding-left: 15px;
        color: white;
        line-height: 35px;
    }
    
    .quick-right ul li::before {
        content: "\f0da";
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
        color: white;
    }
    .openP-3{
        color: white;
        display: flex;
        font-size: 18px;
        gap: 20px;
    }
    
    .open-hr {
        border: solid;
        border-width: 2px;
        width: 40px;
        color: white;
        margin-bottom: 20px;
    }
    
    .open-p p {
        font-size: 18px;
        margin-top: 25px;
        color: white;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    
    .open-h1 h1{
        font-size: 26px;
        margin-bottom: 10px;
        margin-top: 20px;
        color: white;
    }
    .news-input{
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .news-input input{
        background-color:rgba(24,106,188,255);
        border: solid;
        border-color: white;
        border-width: 1px;
    border-radius: 3px;  
    height: 40px;
    width: 180px;
    }
    .news-input ::placeholder{
        color: white;
    }
    
    .news-p p{
    
        font-size: 18px;
        margin-top: 15px;
        margin-bottom:5px ;
        color: white;
    }
    
    .news-h1 h1{
        font-size: 26px;
        margin-bottom: 5px;
        margin-top: 0px;
        color: white;
    }
    
    /* .news-input::after {
        content: "\f2c6"; 
        font-family: 'Font Awesome 5 Free'; 
        font-weight: 900;
        position: absolute;
        right: 0; 
        font-size: 12px; 
        color: white; 
      } */
    
      .bottom-content{
        font-size:12px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        width: 100%; 
        box-sizing: border-box; 
        padding:10px 0 10px 0 ;
        
      }
      .bottom-content p{
        margin-bottom: 0;
      }
      .footer-bottom{
        width: 100%;
        background-color:rgba(27,118,209,255);
    
        margin: 0;
      }
    
  }

 
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .sec-footer{
        background-color:rgba(24,106,188,255) ;
    }
    .foot-container{
        padding: 0;
        margin: 0;
    }
    .footer-content{
        flex-wrap: wrap;
        padding-top: 20px;
        display: flex;
        
    gap: 50px;
        align-items: center;
        
    }
    .us-h1 h1 {
        font-size: 26px;
        color: white;
    }
    
    
    .us-hr {
        border: solid;
        border-width: 2px;
        width: 40px;
        color: white;
    }
    
    .us-p p {
        font-size: 18px;
        margin-top: 25px;
        color: white;
    }
    
    .us-fb, 
    .us-google, 
    .us-twitter, 
    .us-vimeo, 
    .us-pinterest {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid;
        border-width: 1px;
        border-color: white;
        border-radius: 100%;
        height: 30px;
        width: 30px;
        font-size: 16px;
        color: white;
    }
    
    
    .ul-list {
        display: flex;
        padding: 0;
        gap: 8px;
    }
    
    .About-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
    }
    
    
    .quick-h1 h1{
        font-size: 26px;
        margin-bottom: 0px;
    
        color: white;
    }
    .quick-hr{
        border: solid;
        border-width: 2px;
        width: 40px;
        color: white;
        margin-bottom: 5px;
        margin-top:5px;
    }
    .quick-ULlinks li {
        font-size: 18px;
        line-height: 22px;
    }
    
    .quick-ULlinks li:hover {
        color: white;
        border-bottom: 0px solid;
    }
    
    .quick-ULlinks {
        display: flex;
    }
    
    .quickUL {
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 25px;
        
    }
    
    
    .quick-left ul {
        padding-left: 0;
    }
    
    .quick-left ul li {
        position: relative;
        padding-left: 15px;
        color: white;
        line-height: 35px;
    }
    
    .quick-left ul li::before {
        content: "\f0da";
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
        color: white;
    }
    
    .quick-right ul {
        padding-left: 40px;
    }
    
    .quick-right ul li {
        position: relative;
        padding-left: 15px;
        color: white;
        line-height: 35px;
    }
    
    .quick-right ul li::before {
        content: "\f0da";
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
        color: white;
    }
    .openP-3{
        color: white;
        display: flex;
        font-size: 18px;
        gap: 20px;
    }
    
    .open-hr {
        border: solid;
        border-width: 2px;
        width: 40px;
        color: white;
        margin-bottom: 20px;
    }
    
    .open-p p {
        font-size: 18px;
        margin-top: 25px;
        color: white;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    
    .open-h1 h1{
        font-size: 26px;
        margin-bottom: 10px;
        margin-top: 20px;
        color: white;
    }
    .news-input{
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .news-input input{
        background-color:rgba(24,106,188,255);
        border: solid;
        border-color: white;
        border-width: 1px;
    border-radius: 3px;  
    height: 40px;
    width: 180px;
    }
    .news-input ::placeholder{
        color: white;
    }
    
    .news-p p{
    
        font-size: 18px;
        margin-top: 15px;
        margin-bottom:5px ;
        color: white;
    }
    
    .news-h1 h1{
        font-size: 26px;
        margin-bottom: 5px;
        margin-top: 0px;
        color: white;
    }
    
    /* .news-input::after {
        content: "\f2c6"; 
        font-family: 'Font Awesome 5 Free'; 
        font-weight: 900;
        position: absolute;
        right: 0; 
        font-size: 12px; 
        color: white; 
      } */
    
      .bottom-content{
        font-size:12px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        width: 100%; 
        box-sizing: border-box; 
        padding:10px 0 10px 0 ;
        
      }
      .bottom-content p{
        margin-bottom: 0;
      }
      .footer-bottom{
        width: 100%;
        background-color:rgba(27,118,209,255);
    
        margin: 0;
      }
    
    
    
}
 /* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media only screen and (min-width: 992px) and (max-width: 1200.98px) {
    .sec-footer{
        background-color:rgba(24,106,188,255) ;
    }
    .foot-container{
        padding: 0;
        margin: 0;
    }
    .footer-content{
        flex-wrap: wrap;
        padding-top: 20px;
        display: flex;
        justify-content: center;
    gap: 100px;
        align-items: center;
        
    }
    .us-h1 h1 {
        font-size: 26px;
        color: white;
    }
    
    
    .us-hr {
        border: solid;
        border-width: 2px;
        width: 40px;
        color: white;
    }
    
    .us-p p {
        font-size: 18px;
        margin-top: 25px;
        color: white;
    }
    
    .us-fb, 
    .us-google, 
    .us-twitter, 
    .us-vimeo, 
    .us-pinterest {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid;
        border-width: 1px;
        border-color: white;
        border-radius: 100%;
        height: 30px;
        width: 30px;
        font-size: 16px;
        color: white;
    }
    
    
    .ul-list {
        display: flex;
        padding: 0;
        gap: 8px;
    }
    
    .About-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
    }
    
    
    .quick-h1 h1{
        font-size: 26px;
        margin-bottom: 0px;
    
        color: white;
    }
    .quick-hr{
        border: solid;
        border-width: 2px;
        width: 40px;
        color: white;
        margin-bottom: 5px;
        margin-top:5px;
    }
    .quick-ULlinks li {
        font-size: 18px;
        line-height: 22px;
    }
    
    .quick-ULlinks li:hover {
        color: white;
        border-bottom: 0px solid;
    }
    
    .quick-ULlinks {
        display: flex;
    }
    
    .quickUL {
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 25px;
        
    }
    
    
    .quick-left ul {
        padding-left: 0;
    }
    
    .quick-left ul li {
        position: relative;
        padding-left: 15px;
        color: white;
        line-height: 35px;
    }
    
    .quick-left ul li::before {
        content: "\f0da";
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
        color: white;
    }
    
    .quick-right ul {
        padding-left: 40px;
    }
    
    .quick-right ul li {
        position: relative;
        padding-left: 15px;
        color: white;
        line-height: 35px;
    }
    
    .quick-right ul li::before {
        content: "\f0da";
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
        color: white;
    }
    .openP-3{
        color: white;
        display: flex;
        font-size: 18px;
        gap: 20px;
    }
    
    .open-hr {
        border: solid;
        border-width: 2px;
        width: 40px;
        color: white;
        margin-bottom: 20px;
    }
    
    .open-p p {
        font-size: 18px;
        margin-top: 25px;
        color: white;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    
    .open-h1 h1{
        font-size: 26px;
        margin-bottom: 10px;
        margin-top: 20px;
        color: white;
    }
    .news-input{
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .news-input input{
        background-color:rgba(24,106,188,255);
        border: solid;
        border-color: white;
        border-width: 1px;
    border-radius: 3px;  
    height: 40px;
    width: 180px;
    }
    .news-input ::placeholder{
        color: white;
    }
    
    .news-p p{
    
        font-size: 18px;
        margin-top: 15px;
        margin-bottom:5px ;
        color: white;
    }
    
    .news-h1 h1{
        font-size: 26px;
        margin-bottom: 5px;
        margin-top: 0px;
        color: white;
    }
    
    /* .news-input::after {
        content: "\f2c6"; 
        font-family: 'Font Awesome 5 Free'; 
        font-weight: 900;
        position: absolute;
        right: 0; 
        font-size: 12px; 
        color: white; 
      } */
    
      .bottom-content{
        font-size:12px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        width: 100%; 
        box-sizing: border-box; 
        padding:10px 0 10px 0 ;
        
      }
      .bottom-content p{
        margin-bottom: 0;
      }
      .footer-bottom{
        width: 100%;
        background-color:rgba(27,118,209,255);
    
        margin: 0;
      }

}
 
@media only screen and (min-width: 1201px) and (max-width: 1300.98px) {
    .sec-footer{
        background-color:rgba(24,106,188,255) ;
    }
    .foot-container{
        padding: 0;
        margin: 0;
    }
    .footer-content{
        flex-wrap: wrap;
        padding-top: 20px;
        display: flex;
    gap: 39px;
        align-items: center;
        
    }
    .us-h1 h1 {
        font-size: 26px;
        color: white;
    }
    
    
    .us-hr {
        border: solid;
        border-width: 2px;
        width: 40px;
        color: white;
    }
    
    .us-p p {
        font-size: 18px;
        margin-top: 25px;
        color: white;
    }
    
    .us-fb, 
    .us-google, 
    .us-twitter, 
    .us-vimeo, 
    .us-pinterest {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid;
        border-width: 1px;
        border-color: white;
        border-radius: 100%;
        height: 30px;
        width: 30px;
        font-size: 16px;
        color: white;
    }
    
    
    .ul-list {
        display: flex;
        padding: 0;
        gap: 8px;
    }
    
    .About-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
    }
    
    
    .quick-h1 h1{
        font-size: 26px;
        margin-bottom: 0px;
    
        color: white;
    }
    .quick-hr{
        border: solid;
        border-width: 2px;
        width: 40px;
        color: white;
        margin-bottom: 5px;
        margin-top:5px;
    }
    .quick-ULlinks li {
        font-size: 18px;
        line-height: 22px;
    }
    
    .quick-ULlinks li:hover {
        color: white;
        border-bottom: 0px solid;
    }
    
    .quick-ULlinks {
        display: flex;
    }
    
    .quickUL {
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 25px;
        
    }
    
    
    .quick-left ul {
        padding-left: 0;
    }
    
    .quick-left ul li {
        position: relative;
        padding-left: 15px;
        color: white;
        line-height: 35px;
    }
    
    .quick-left ul li::before {
        content: "\f0da";
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
        color: white;
    }
    
    .quick-right ul {
        padding-left: 20px;
    }
    
    .quick-right ul li {
        position: relative;
        padding-left: 15px;
        color: white;
        line-height: 35px;
    }
    
    .quick-right ul li::before {
        content: "\f0da";
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
        color: white;
    }
    .openP-3{
        color: white;
        display: flex;
        font-size: 18px;
        gap: 20px;
    }
    
    .open-hr {
        border: solid;
        border-width: 2px;
        width: 40px;
        color: white;
        margin-bottom: 20px;
    }
    
    .open-p p {
        font-size: 18px;
        margin-top: 25px;
        color: white;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    
    .open-h1 h1{
        font-size: 26px;
        margin-bottom: 10px;
        margin-top: 20px;
        color: white;
    }
    .news-input{
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .news-input input{
        background-color:rgba(24,106,188,255);
        border: solid;
        border-color: white;
        border-width: 1px;
    border-radius: 3px;  
    height: 40px;
    width: 180px;
    }
    .news-input ::placeholder{
        color: white;
    }
    
    .news-p p{
    
        font-size: 18px;
        margin-top: 15px;
        margin-bottom:5px ;
        color: white;
    }
    
    .news-h1 h1{
        font-size: 26px;
        margin-bottom: 5px;
        margin-top: 0px;
        color: white;
    }
    
    /* .news-input::after {
        content: "\f2c6"; 
        font-family: 'Font Awesome 5 Free'; 
        font-weight: 900;
        position: absolute;
        right: 0; 
        font-size: 12px; 
        color: white; 
      } */
    
      .bottom-content{
        font-size:12px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        width: 100%; 
        box-sizing: border-box; 
        padding:10px 0 10px 0 ;
        
      }
      .bottom-content p{
        margin-bottom: 0;
      }
      .footer-bottom{
        width: 100%;
        background-color:rgba(27,118,209,255);
    
        margin: 0;
      }
    
}
 
@media only screen and (min-width: 1301px) and (max-width: 1500.98px) {
    .sec-footer{
        background-color:rgba(24,106,188,255) ;
    }
    .foot-container{
        padding: 0;
        margin: 0;
    }
    .footer-content{
        flex-wrap: wrap;
        padding-top: 20px;
        display: flex;
    gap: 39px;
        align-items: center;
        
    }
    .us-h1 h1 {
        font-size: 26px;
        color: white;
    }
    
    
    .us-hr {
        border: solid;
        border-width: 2px;
        width: 40px;
        color: white;
    }
    
    .us-p p {
        font-size: 18px;
        margin-top: 25px;
        color: white;
    }
    
    .us-fb, 
    .us-google, 
    .us-twitter, 
    .us-vimeo, 
    .us-pinterest {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid;
        border-width: 1px;
        border-color: white;
        border-radius: 100%;
        height: 30px;
        width: 30px;
        font-size: 16px;
        color: white;
    }
    
    
    .ul-list {
        display: flex;
        padding: 0;
        gap: 8px;
    }
    
    .About-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
    }
    
    
    .quick-h1 h1{
        font-size: 26px;
        margin-bottom: 0px;
    
        color: white;
    }
    .quick-hr{
        border: solid;
        border-width: 2px;
        width: 40px;
        color: white;
        margin-bottom: 5px;
        margin-top:5px;
    }
    .quick-ULlinks li {
        font-size: 18px;
        line-height: 22px;
    }
    
    .quick-ULlinks li:hover {
        color: white;
        border-bottom: 0px solid;
    }
    
    .quick-ULlinks {
        display: flex;
    }
    
    .quickUL {
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 25px;
        
    }
    
    
    .quick-left ul {
        padding-left: 0;
    }
    
    .quick-left ul li {
        position: relative;
        padding-left: 15px;
        color: white;
        line-height: 35px;
    }
    
    .quick-left ul li::before {
        content: "\f0da";
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
        color: white;
    }
    
    .quick-right ul {
        padding-left: 30px;
    }
    
    .quick-right ul li {
        position: relative;
        padding-left: 15px;
        color: white;
        line-height: 35px;
    }
    
    .quick-right ul li::before {
        content: "\f0da";
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
        color: white;
    }
    .openP-3{
        color: white;
        display: flex;
        font-size: 18px;
        gap: 20px;
    }
    
    .open-hr {
        border: solid;
        border-width: 2px;
        width: 40px;
        color: white;
        margin-bottom: 20px;
    }
    
    .open-p p {
        font-size: 18px;
        margin-top: 25px;
        color: white;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    
    .open-h1 h1{
        font-size: 26px;
        margin-bottom: 10px;
        margin-top: 20px;
        color: white;
    }
    .news-input{
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .news-input input{
        background-color:rgba(24,106,188,255);
        border: solid;
        border-color: white;
        border-width: 1px;
    border-radius: 3px;  
    height: 40px;
    width: 180px;
    }
    .news-input ::placeholder{
        color: white;
    }
    
    .news-p p{
    
        font-size: 18px;
        margin-top: 15px;
        margin-bottom:5px ;
        color: white;
    }
    
    .news-h1 h1{
        font-size: 26px;
        margin-bottom: 5px;
        margin-top: 0px;
        color: white;
    }
    
    /* .news-input::after {
        content: "\f2c6"; 
        font-family: 'Font Awesome 5 Free'; 
        font-weight: 900;
        position: absolute;
        right: 0; 
        font-size: 12px; 
        color: white; 
      } */
    
      .bottom-content{
        font-size:12px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        width: 100%; 
        box-sizing: border-box; 
        padding:10px 0 10px 0 ;
        
      }
      .bottom-content p{
        margin-bottom: 0;
      }
      .footer-bottom{
        width: 100%;
        background-color:rgba(27,118,209,255);
    
        margin: 0;
      }
    
    
    
}