.medical-news{
    margin-top: 60px;
}
.medical-cards{
display: flex;

gap: 70px;
flex-wrap: wrap;
margin-top: 50px;
}
.medicalCard1{
    height: 210px;
    width: 380px;
  
}
.medicalCard1 img{
    height: 210px;
    width: 380px;
    object-fit: cover;
}
.card1-p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 80px;
    background-color: rgba(27, 118, 209, 0.7);
    color: white;
    font-size: 12px;
    /* margin-top: 10px; */
    border-radius: 3px;
    
}

.card1-p p{
margin: 0;
}
.card1-p {
    margin: 0;
 }
.card1-text h1{
    font-size: 16px;
    margin-top: 10px;
}
.card1-text p{
    font-size: 12px;
    margin-bottom: 0;
}
.card1-content{
    display: flex;
   
    flex-direction: column;
    padding: 22px;

}
.card1{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media only screen and (min-width: 280px) and (max-width: 575.98px) {

    .medical-news{
        margin-top: 60px;
    }
    .medical-cards{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 50px;
    }
    .medicalCard1{
        height: 210px;
        width: 380px;
      
    }
    .medicalCard1 img{
        height: 210px;
        width: 380px;
        object-fit: cover;
    }
    .card1-p{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 22px;
        width: 80px;
        background-color: rgba(27, 118, 209, 0.7);
        color: white;
        font-size: 12px;
        /* margin-top: 10px; */
        border-radius: 3px;
        
    }
    
    .card1-p p{
    margin: 0;
    }
    .card1-p {
        margin: 0;
     }
    .card1-text h1{
        font-size: 16px;
        margin-top: 10px;
    }
    .card1-text p{
        font-size: 12px;
        margin-bottom: 0;
    }
    .card1-content{
        display: flex;
       
        flex-direction: column;
        padding: 22px;
    
    }
    .card1{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    

}
 /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {

    .medical-news{
        margin-top: 60px;
    }
    .medical-cards{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 50px;
    }
    .medicalCard1{
        height: 210px;
        width: 380px;
      
    }
    .medicalCard1 img{
        height: 210px;
        width: 380px;
        object-fit: cover;
    }
    .card1-p{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 22px;
        width: 80px;
        background-color: rgba(27, 118, 209, 0.7);
        color: white;
        font-size: 12px;
        /* margin-top: 10px; */
        border-radius: 3px;
        
    }
    
    .card1-p p{
    margin: 0;
    }
    .card1-p {
        margin: 0;
     }
    .card1-text h1{
        font-size: 16px;
        margin-top: 10px;
    }
    .card1-text p{
        font-size: 12px;
        margin-bottom: 0;
    }
    .card1-content{
        display: flex;
       
        flex-direction: column;
        padding: 22px;
    
    }
    .card1{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    
}
 /* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {

    .medical-news{
        margin-top: 60px;
    }
    .medical-cards{
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
    margin-top: 50px;
    }
    /* .medicalCard1{
        height: 100%;
        width: 100%;
      
    } */
    .medicalCard1 img{
        height: 220px;
        width: 487px;
        object-fit: cover;
    }
    .card1-p{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 22px;
        width: 80px;
        background-color: rgba(27, 118, 209, 0.7);
        color: white;
        font-size: 12px;
        /* margin-top: 10px; */
        border-radius: 3px;
        
    }
    
    .card1-p p{
    margin: 0;
    }
    .card1-p {
        margin: 0;
     }
    .card1-text h1{
        font-size: 16px;
        margin-top: 10px;
    }
    .card1-text p{
        font-size: 12px;
        margin-bottom: 0;
    }
    .card1-content{
        display: flex;
       
        flex-direction: column;
        padding: 22px;
    
    }
    .card1{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        height: 70%;
        width: 70%;
    }
}
 /* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media only screen and (min-width: 992px) and (max-width: 1200.98px) {

    .medical-news{
        margin-top: 60px;
    }
    .medical-cards{
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
    margin-top: 50px;
    }
    .medicalCard1{
        height: 210px;
        width: 380px;
      
    }
    .medicalCard1 img{
        height: 210px;
        width: 380px;
        object-fit: cover;
    }
    .card1-p{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 22px;
        width: 80px;
        background-color: rgba(27, 118, 209, 0.7);
        color: white;
        font-size: 12px;
        /* margin-top: 10px; */
        border-radius: 3px;
        
    }
    
    .card1-p p{
    margin: 0;
    }
    .card1-p {
        margin: 0;
     }
    .card1-text h1{
        font-size: 16px;
        margin-top: 10px;
    }
    .card1-text p{
        font-size: 12px;
        margin-bottom: 0;
    }
    .card1-content{
        display: flex;
       
        flex-direction: column;
        padding: 22px;
    
    }
    .card1{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    
    
}
 /* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media only screen and (min-width: 1201px) and (max-width: 1300.98px) {
    .medical-news{
        margin-top: 60px;
    }
    .medical-cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
    }
    .medicalCard1{
        height: 210px;
        width: 350px;
      
    }
    .medicalCard1 img{
        height: 210px;
        width: 350px;
        object-fit: cover;
    }
    .card1-p{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 22px;
        width: 80px;
        background-color: rgba(27, 118, 209, 0.7);
        color: white;
        font-size: 12px;
        /* margin-top: 10px; */
        border-radius: 3px;
        
    }
    
    .card1-p p{
    margin: 0;
    }
    .card1-p {
        margin: 0;
     }
    .card1-text h1{
        font-size: 16px;
        margin-top: 10px;
    }
    .card1-text p{
        font-size: 12px;
        margin-bottom: 0;
    }
    .card1-content{
        display: flex;
       
        flex-direction: column;
        padding: 22px;
    
    }
    .card1{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    
}
 /* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media only screen and (min-width: 1301px) and (max-width: 1500.98px) {

    .medical-news{
        margin-top: 60px;
    }
    .medical-cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
    }
    .medicalCard1{
        height: 210px;
        width: 350px;
      
    }
    .medicalCard1 img{
        height: 210px;
        width: 350px;
        object-fit: cover;
    }
    .card1{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   
    }

    .card1-p{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 22px;
        width: 80px;
        background-color: rgba(27, 118, 209, 0.7);
        color: white;
        font-size: 12px;
        /* margin-top: 10px; */
        border-radius: 3px;
        
    }
    
    .card1-p p{
    margin: 0;
    }
    .card1-p {
        margin: 0;
     }
    .card1-text h1{
        font-size: 16px;
        margin-top: 10px;
    }
    .card1-text p{
        font-size: 12px;
        margin-bottom: 0;
    }
    .card1-content{
        display: flex;
       
        flex-direction: column;
        padding: 22px;
    
    }
 
    
}